html,
body,
main {
    height: 100%;
}

.slideout-menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 276px;
    height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
}

.slideout-menu-left {
    left: 0;
}

.slideout-menu-right {
    right: 0;
}

.slideout-panel {
    height: 100%;
    position: relative;
    z-index: 1;
    will-change: transform;
    background-color: #fff;
    /* A background-color is required */
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
    overflow: hidden;
}

.slideout-open .slideout-menu {
    display: block;
}

.aside-grey {
    background-color: RGB(66, 66, 66);
}

.aside-grey::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #232323;
}

.aside-grey::-webkit-scrollbar-thumb {
    background: #444;
    border-radius: 5px;
}

.aside-grey::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}

.list {
    color: #E0E0E0;
    cursor: pointer;
    box-sizing: border-box;
    padding: 3px;
    letter-spacing: 1px;
    margin: 1px;
    border: 1px solid RGBA(0, 0, 0, 0.15);
}

.list:hover {
    background-color: rgba(0, 0, 0, 0.15);
}

ul {
    list-style-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1674766/out.svg);
    margin: 0;
    padding: 0 0 0 1.0em;
}

article {
    height: calc(100vh - 65px);
}

aside {
    width: 100vw;
    height: calc(100vh - 3.750em);
    overflow: auto;
    background-color: #333;
    border: 1px solid RGBA(0, 0, 0, 0.15);
}

aside::-webkit-scrollbar,
aside::-webkit-scrollbar-button,
aside::-webkit-scrollbar-track,
aside::-webkit-scrollbar-track-piece,
aside::-webkit-scrollbar-thumb,
aside::-webkit-scrollbar-corner,
aside::-webkit-resizer {
    background:;
}

aside::-webkit-scrollbar {
    width: 10px;
    height: 7px;
    -webkit-border-radius: 0;
    border-radius: 0;
}

aside::-webkit-scrollbar-track-piece {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: #323232;
}

aside::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: 5px;
}

aside::-webkit-scrollbar-button {
    width: 0;
    height: 0;
}